.bg-secondary-j {
    background-color: gray;
}

.bg-white-j {
    background-color: white;
}

.vh-100-j {
    height: 100vh;
}

.p-5-j {
    padding: 2rem;
}
.p-3-j {
    padding: 1.2rem;
}

.rounded-j {
    border-radius: 6px;
}

.d-flex-j {
    display: flex;
}

.justify-content-evenly-j {
    justify-content: space-evenly;
}

.align-items-center-j {
    align-items: center;
}
